<div class="row">
    <!-- Column -->
    <div class="col-lg-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form>
                            <div class="mb-2">
                                <input type="text" class="form-control" (keyup)="getItem($event)" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchitem" id="prenametext" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8  d-flex justify-content-end">
                        <div ngbDropdown class="d-inline-block mb-2 mr-2">
                            <!-- <button class="btn btn-info text-white" id="dropdownBasic1" ngbDropdownToggle>
                                All
                            </button> -->
                            <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="dropdown-item">Active</button>
                                <button class="dropdown-item">Inactive</button>
                            </div> -->
                            <mat-form-field class="custom_filter" appearance="fill">
                                <select matNativeControl required (change)="someMethod($event)">
                                    <option value="all">All</option>
                                  <option value="true">Active</option>
                                  <option value="false">Inactive</option>
                                </select>
                              </mat-form-field>
                              

                        </div>
                        <button class="btn btn-primary mb-2 mr-2" (click)="Saveformate()"><i
                                class="sl-icon-cloud-download"></i> Export CSV</button>
                        <button class="btn btn-seconadary mb-2" (click)="addUserModal(addUser)"><i
                                class="sl-icon-plus"></i> Add
                            User</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table v-middle product-overview" id="zero_config">
                            <thead>
                                <tr>

                                    <th>User Info</th>
                                    <th>Number of Conversions</th>
                                    <th>Active/Inactive</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of userdata">

                                    <td>
                                        <h4>{{item.firstName}} {{item.lastName}}</h4>
                                        <p>ID : <span>{{item.email}}</span></p>
                                    </td>
                                    <td>{{item.count || '-'}} </td>
                                    <td>
                                        <mat-slide-toggle [checked]="!item.isBlocked"
                                            (change)="onChange($event,item._id)">

                                        </mat-slide-toggle>
                                    </td>
                                    <td>
                                        <div ngbDropdown placement="bottom" class="d-inline-block">
                                            <button class="btn btn-outline-primary" id="dropdownBasic1"
                                                ngbDropdownToggle>
                                                Action
                                            </button>

                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class=" pb-5">
                                                <!-- <a class="dropdown-item" routerLink="/pages/users_detail"><i class="ti-eye"></i>
                          View
                        </a> -->
                                                <button class="dropdown-item"
                                                    (click)="userDetailModal(userDetail,item._id)"><i
                                                        _ngcontent-axh-c146="" class="ti-marker-alt"></i> Edit</button>

                                                <button class="dropdown-item"
                                                    (click)="userDeleteModal(userDelete,item._id)"><i
                                                        class="ti-trash"></i>
                                                    Delete</button>
                                            </div>
                                        </div>


                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-paginator [length]=pagecount
        [pageSize]="10" (page)="onPaginateChange($event)"> 
    </mat-paginator>
        <!-- Column -->
    </div>
   
    <ng-template #content3 let-modal>
        <div class="modal-header p-2">
            <h4 class="modal-title">Driving Licence</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
                </div>
                <div class="col-md-6">
                    <figure class=""><img src="assets/images/gallery/driving-licence.jpg" class="img-fluid"></figure>
                </div>
            </div>
        </div>
    </ng-template>


    <!-- view modal -->
    <ng-template #userprofile let-modal>
        <div class="modal-body">
            <button type="button" class=" close-icon" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="mdi mdi-close"></i>
            </button>
            <div class="row">
                <!-- Column -->
                <div class="col-lg-3 col-xlg-3 col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="m-t-30 text-center">
                                <img src="assets/images/users/5.jpg" class="rounded-circle" width="120" />
                                <h4 class="card-title m-t-10">Hanna Gover</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-9 col-xlg-9 col-md-7">
                    <div class="card custom-tabs mb-0">
                        <div class="card-body">
                            <!-- <div class="col-md-12 text-right"><button class="btn btn-primary">Export CSV</button></div>  -->
                            <ngb-tabset>
                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>User Detail</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="row pt-2">
                                            <div class="col-md-6">
                                                <ul class="list-block">
                                                    <li class="list-block-listing">Name: <span
                                                            class="font-weight-600">Hanna Gover</span></li>
                                                    <li class="list-block-listing">Email: <span
                                                            class="font-weight-600">Hannagover@gmail.com</span>
                                                    </li>
                                                    <li class="list-block-listing">Gender: <span
                                                            class="font-weight-600">Female</span>
                                                    </li>
                                                    <li class="list-block-listing">Phone No: <span
                                                            class="font-weight-600">+91-7858485474</span>
                                                    </li>
                                                    <li class="list-block-listing "> <span>Address: </span> <span
                                                            class="font-weight-600">3750
                                                            Grove Avenue, Clinton</span>
                                                    </li>


                                                </ul>
                                            </div>
                                            <div class="col-md-6">
                                                <ul class="list-block">
                                                    <li class="list-block-listing">Total Bike: <span
                                                            class="font-weight-600">1</span></li>
                                                    <li class="list-block-listing">Bike Name: <span>Pulsar </span></li>
                                                    <li class="list-block-listing">Bike No: <span>HR-04-V-2433</span>
                                                    </li>
                                                    <li class="list-block-listing">Vendor Name: <span
                                                            class="font-weight-600">John</span></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab>
                                    <ng-template ngbTabTitle><b>User History</b></ng-template>
                                    <ng-template ngbTabContent>
                                        <ul class="user_history pl-0">
                                            <li class="user_history_list"><span class="user_history_list_icon active"><i
                                                        class="mdi mdi-map-marker"></i></span> <span>Location 1</span>
                                            </li>
                                            <li class="user_history_list"><span class="user_history_list_icon active"><i
                                                        class="mdi mdi-map-marker"></i></span> <span>Location 2</span>
                                            </li>
                                            <li class="user_history_list skip"><span
                                                    class="user_history_list_icon active"><i
                                                        class="mdi mdi-map-marker"></i></span>Location 3
                                            </li>
                                            <li class="user_history_list"><span class="user_history_list_icon"><i
                                                        class="mdi mdi-map-marker"></i></span> <span>Location 4</span>
                                            </li>
                                            <li class="user_history_list"><span class="user_history_list_icon"><i
                                                        class="mdi mdi-map-marker"></i></span> <span>Location 5</span>
                                            </li>
                                        </ul>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
        </div>
    </ng-template>

    <!-- delete modal -->
    <ng-template #userDelete let-modal>
        <div class="modal-body">
            <p>Are You Sure want to delete this user?</p>
            <div class="btn-group">
                <button type="button" class="btn btn-primary m-2" aria-label="Close"
                    (click)="modalyes('Cross click')">Yes</button>
                <button type="button" class="btn btn-seconadary m-2" aria-label="Close"
                    (click)="modal.dismiss('Cross click')">No</button>
            </div>
        </div>
    </ng-template>

    <!-- edit user detail -->
    <ng-template #userDetail let-modal>
        <div class="modal-body">
            <div class="card">
                <form [formGroup]="Editprofile">
                    <div class="form-body">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">FirstName</label>
                                        <mat-form-field [floatLabel]="'never'">
                                        <input  matInput type="text" id="firstName" formControlName="firstName"
                                            class="form-control" placeholder="John doe">
                                        </mat-form-field>
                                        <mat-error class="error"
                                        *ngIf="submitted && errorHandlingProfile('firstName', 'required')">
                                        firstName is required!
                                    </mat-error>
                                    <mat-error class="error"
                                        *ngIf="submitted && errorHandlingProfile('firstName', 'maxlength') || errorHandlingProfile('firstName', 'minlength')">
                                        Invalid firstName!
                                    </mat-error>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">LastName</label>
                                        <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" id="lastName" formControlName="lastName"
                                            class="form-control" placeholder="John doe">
                                        </mat-form-field>
                                        <mat-error class="error"
                                        *ngIf="submitted && errorHandlingProfile('lastName', 'required')">
                                        lastName is required!
                                    </mat-error>
                                    <mat-error class="error"
                                        *ngIf="submitted && errorHandlingProfile('lastName', 'maxlength') || errorHandlingProfile('lastName', 'minlength')">
                                        Invalid lastName!
                                    </mat-error>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Email</label>
                                        <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" id="email" formControlName="email" class="form-control"
                                            placeholder="example@gmail.com">
                                        </mat-form-field>
                                        <mat-error class="error"
                                        *ngIf="submitted && errorHandlingProfile('email', 'required')">
                                        Email is required!
                                    </mat-error>
                                    <mat-error class="error"
                                        *ngIf="submitted && errorHandlingProfile('email', 'email')">
                                        Invalid email
                                    </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success mr-3"
                                    (click)="modalUpdated()">
                                    <i class="fa fa-check"></i> Update</button>
                                <button type="button" class="btn btn-dark"
                                    (click)="modal.dismiss('Cross click')">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </ng-template>

    <!-- add user -->
    <ng-template #addUser let-modal>
        <div class="modal-body">
            <div class="card">
                <form [formGroup]="addUsers">
                    <div class="form-body">
                        <div class="card-body">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">FirstName</label>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput (keydown.space)="$event.preventDefault()"
                                                formControlName="firstName" type="text" id="firstName"
                                                class="form-control" placeholder="John doe">
                                        </mat-form-field>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('firstName', 'required')">
                                            firstName is required!
                                        </mat-error>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('firstName', 'maxlength') || errorHandlingRevocer('firstName', 'minlength')">
                                            Invalid firstName!
                                        </mat-error>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">LastName</label>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput (keydown.space)="$event.preventDefault()"
                                                formControlName="lastName" type="text" id="firstName"
                                                class="form-control" placeholder="John doe">
                                        </mat-form-field>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('lastName', 'required')">
                                            LastName is required!
                                        </mat-error>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('lastName', 'maxlength') || errorHandlingRevocer('lastName', 'minlength')">
                                            Invalid LastName!
                                        </mat-error>
                                    </div>
                                </div>
                                <!--/span-->
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row ">
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Email</label>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="email" (keydown.space)="$event.preventDefault()"
                                                id="email" formControlName="email"
                                                class="form-control form-control-danger"
                                                placeholder="example@gmail.com">
                                        </mat-form-field>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('email', 'required')">
                                            Email is required!
                                        </mat-error>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('email', 'email')">
                                            Invalid email
                                        </mat-error>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <div class="form-group has-danger">
                                        <label class="control-label">Address</label>
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" (keydown.space)="$event.preventDefault()"
                                                id="Address" formControlName="address"
                                                class="form-control form-control-danger" placeholder="Address">
                                        </mat-form-field>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('email', 'required')">
                                            Email is required!
                                        </mat-error>
                                        <mat-error class="error"
                                            *ngIf="submitted && errorHandlingRevocer('email', 'email')">
                                            Invalid email
                                        </mat-error>
                                    </div>
                                </div> -->
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Gender</label>
                                        <select class="form-control custom-select" formControlName="gender"
                                            data-placeholder="Choose a Category" tabindex="1">
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>
                                        </select>
                                    </div>
                                    <mat-error class="error"
                                        *ngIf="submitted && errorHandlingRevocer('gender', 'required')">
                                        Gender is required!
                                    </mat-error>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">


                                <!--/span-->
                            </div>
                            <!--/row-->
                        </div>

                        <div class="form-actions">
                            <div class="card-body">
                                <button type="submit" class="btn btn-success mr-3" (click)="addUserdata('Cross click')">
                                    <i class="fa fa-check"></i> Add</button>
                                <button type="button" class="btn btn-dark"
                                    (click)="modal.dismiss('Cross click')">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </ng-template>