<div class="row">
    <div class="col-12">
        <h2> Reports </h2>
    </div>
    <!-- Column -->
    <div class="col-md-6 ">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <span class="btn-circle btn-lg btn btn-outline-secondary">
                            <i class="sl-icon-people"></i>
                        </span>
                    </div>
                    <div class="m-l-10">
                        <h4 class="card-title ">Total User</h4>
                    </div>

                    <div class="ml-auto">
                        <select class="custom-select b-0" (change)="onChange($event.target.value)">
                            <option selected="" value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                    </div>
                </div>
                <canvas baseChart [datasets]="barChart2Data" [labels]="barChartLabels1" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors1">
                </canvas>
            </div>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <span class="btn-circle btn-lg btn btn-outline-secondary">
                            <i class="sl-icon-people"></i>
                        </span>
                    </div>
                    <div class="m-l-10">
                        <h4 class="card-title">Freemium VS Premium Packages</h4>
                    </div>

                    <div class="ml-auto">
                        <select class="custom-select b-0" (change)="onChangepre($event.target.value)">
                            <option selected="" value="0">Weekly</option>
                            <option value="1">Monthly</option>
                        </select>
                    </div>
                </div>
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType" [colors]="barChartColors">
                </canvas>
            </div>
            <!-- <div class="card-footer">
                <button class="btn btn-info btn-sm">Update</button>
            </div> -->
        </div>
    </div>